@model IEnumerable<string>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload Json File", "UploadString")&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Agregar Cadena", "CreateString")
</p>
<p ALIGN="right">
    @Html.ActionLink("Pre-Orden", "OrdenString", new { order = "PreOrder" })&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("In-Orden", "OrdenString", new { order = "InOrder" })&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Post-orden", "OrdenString", new { order = "PostOrder" })
</p>
<p ALIGN="left">
    @Html.ActionLink("¿Es Degenerado?", "DegeneradoString")
</p>
<table class="table">
    <tr>
        <th>
            Cadena
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditString", new { id = item }) |
                    @Html.ActionLink("Delete", "DeleteString", new { id = item })
                </td>
            </tr>
        }
    }
</table>
@Html.Raw(TempData["msg"])
