@model IEnumerable<int>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Upload Json File", "UploadInt")&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Agregar Entero", "CreateInt")
</p>
<p ALIGN="right">
    @Html.ActionLink("Pre-Orden", "OrdenInt", new { order = "PreOrder" })&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("In-Orden", "OrdenInt", new { order = "InOrder" })&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Post-orden", "OrdenInt", new { order = "PostOrder" })
</p>
<p ALIGN="left">
    @Html.ActionLink("¿Es Degenerado?", "DegeneradoInt")
</p>
<table class="table">
    <tr>
        <th>
            Número
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditInt", new { id = item }) |
                    @Html.ActionLink("Delete", "DeleteInt", new { id = item })
                </td>
            </tr>
        }
    }
</table>
@Html.Raw(TempData["msg"])
© 2018 GitHub, Inc.